*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.FormContainer {
  margin: 0;
  padding: 0px;
  width: 100%;
  p {
    white-space: pre-wrap;
  }
  > div {
    display: flex;
  }
}

.FirstColumn {
  width: 50%;
  margin: 0;
  padding: 5px;
  padding-left: 35px;
  padding-right: 35px;
  text-align: right;
}
.SecondColumn {
  > p {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    margin: 25px;
  }
  text-align: left;
  width: 50%;
  margin: 0;
}
.ButtonCls {
  padding-right: 50px;
}

#map {
  margin: 20px;
  height: 400px;
  width: 80%;
  border: 1px solid gray;
}
.LandmarksContainer {
  width: 100%;
  > div {
    padding: 0px;
    margin: 0;
  }
}

@media only screen and (max-width: 600px) {
  .FormContainer {
    > div {
      display: block;
    }
  }
  .FirstColumn {
    width: 100%;
    margin: 0;
    padding: 5px;
  }
  .SecondColumn {
    width: 100%;
    padding: 5px;
    margin: 0;
  }
  #map {
    margin: 5px;
    padding: 5px;
    width: 98%;
  }
  .ButtonCls {
    padding-right: 0px;
  }
}
